
ZOHO_EMAIL=your-email@example.com
ZOHO_PASSWORD=your-zoho-password

# JWT Authentication
PRIVATE_KEY=your-jwt-access-token-secret
REFRESH_TOKEN_SECRET=your-different-refresh-token-secret
digiblog_MONGODB_URI=your mongodb connection string

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY=your-imagekit-public-key
IMAGEKIT_PRIVATE_KEY=your-imagekit-private-key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your-imagekit-id

NEXT_PUBLIC_SHOW_DEV_OTP=false

NESHAN_API_KEY=your-neshan-api-key
FOURSQUARE_API_KEY=your-foursquare-api-key




