.generalInfo {
  margin-top: 8rem;
  scroll-behavior: smooth;
}

.section {
  padding: 3rem 0 5rem 0;
  border-bottom: 1px solid #d7d8da;
}
.sectionGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.5rem;
}
.sectionText {
  color: #595c61;
  font-size: 1.5rem;
}
.sectionText span {
  color: #353739;
  font-size: 1.6rem;
  margin-right: 0.3rem;
}
.sectionIcon {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #353739;
  font-size: 1.7rem;
}
.btnMore {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 1.3rem;
  margin-top: 35px;
  color: var(--light-primary-1);
  cursor: pointer;
}
.sectionImg {
  width: 100%;
  height: 48.8rem;
}
.sectionImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sectionTour {
  width: 100%;
  height: 45.4rem;
  position: relative;
}
.sectionTour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.btnPlay {
  all: unset;
  width: 5.6rem;
  height: 5.6rem;
  margin-inline: 2rem;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* location */
.locationContainer {
}
.locationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locationTab {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background-color: #f2f3f3;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
}
.locationTab__item {
  all: unset;
  font: inherit;
  cursor: pointer;
  padding: 1.2rem 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: #7e8288;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  font-size: 1.6rem;
  white-space: nowrap;
}

.locationTab__itemActive {
  background-color: #fff;
  color: #0c0c0c;
}

.sectionLocation {
  margin-top: 4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.locationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locationItem__text {
  font-size: 1.8rem;
  color: #0c0c0c;
}
.locationRate {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.locationRate__progress {
  width: 18.4rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  overflow: hidden;
  direction: ltr;
}

.locationRate__progress p {
  height: 100%;
  background-color: var(--dark-primary-2);
}
.disContent {
  color: #353739;
  line-height: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.disContent.expend {
  -webkit-line-clamp: unset;
  display: block;
}
