.sectionLocation {
  margin-top: 4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.locationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locationItem__text {
  font-size: 1.7rem;
  color: #0c0c0c;
}
.locationRate {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
.locationRate__progress {
  width: 18.4rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  overflow: hidden;
  direction: ltr;
}

.locationRate__progress p {
  height: 100%;
  background-color: var(--dark-primary-2);
}
