.userProfile {
  background-color: #fff;
  border-radius: 8px;
  height: fit-content;
  padding: 40px 20px 20px 20px;
  border: 1px solid #ccc;

  /* Add these properties to make it sticky */
  position: sticky;
  position: -webkit-sticky;
  top: 10px; /* Adjust the distance from the top */
  left: 0;
  z-index: 10; /* Ensure it stays above other content */
}
  
  .profileHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 40px;
  }
  
  .profileImage {
    width: 88px;
    height: 88px;
    border-radius: 50%;
  }
  .profileInfo {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .profileInfo h6 {
    font-size: 18px;
    font-weight: 700;
    color: #353739;
  }
  
  .profileInfo p {
    font-size: 16px;
    color: #7e8288;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
    margin-top: 4px;
  }
  
  .profileButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .messageBtn,
  .callBtn {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    gap: 0.5rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  .messageBtn:hover,
  .callBtn:hover {
    background-color: #f0f0f0;
  }
  .requestContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .requestBtn {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  .requestBtn:hover {
    background-color: var(--dark-primary-2);
  }