.tbl-img {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  object-fit: cover;
}
.tbody {
  vertical-align: middle;
}
.tbl-txt-2 {
  max-width: 24rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.status,
.status-home {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.6rem 1.3rem;
  border-radius: 7px;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid;
  flex-shrink: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.status__pending {
  background: #fef3c7;
  color: #92400e;
  border-color: #fbbf24;
}
.status__pending-3 {
  background: #fef3c7;
  color: #92400e;
  border-color: #fbbf24;
   left: 4.7rem !important;

}

.status__approved {
  background: #d1fae5;
  color: #065f46;
  border-color: #10b981;
}

.status__rejected {
  background: #fee2e2;
  color: #991b1b;
  border-color: #ef4444;
}
.status__pending-2 {
  background: #fef3c7;
  color: #92400e;
  border-color: #fbbf24;
}

.status__approved-2 {
  background: #d1fae5;
  color: #065f46;
  border-color: #10b981;
}

.status__rejected-2 {
  background: #fee2e2;
  color: #991b1b;
  border-color: #ef4444;
}

.status-home {
  position: absolute;
}
.status-home__right {
  top: 0.7rem;
  right: 0.7rem;
}
.status-home__left {
  top: 0.7rem;
  left: 0.7rem;
}
/* .status__pending {
  color: var(--light-warning);
}
.status__rejected {
  color: var(--light-erorr);
}
.status__approved {
  color: var(--light-success);
}
.status__pending-2 {
  color: var(--light-warning);
  background-color: rgba(244, 183, 64, 0.1);
  font-size: 1.3rem;
}
.status__rejected-2 {
  color: var(--light-erorr);
  background-color: rgba(237, 46, 46, 0.09);
  font-size: 1.3rem;
}
.status__approved-2 {
  color: var(--light-success);
  background-color: rgba(0, 186, 136, 0.1);
  font-size: 1.3rem;
} */
.drop-down--tbl {
  position: absolute;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 5px;
  z-index: 1001;
  min-width: 130px;
  top: 80%;
  left: 25px;
  /* display: flex; */
  flex-direction: column;
  gap: 3px;
  display: none;
}

.drop-down--tbl.active {
  display: flex;
}

.drop-down__btn {
  display: flex;
  align-items: center;
  gap: 16px;
  /*gap-4(assuming1unit=4px)*/
  transition: all 300ms;
  cursor: pointer;
  color: #3f3f46;
  /*text-zinc-700*/
  padding: 8px 10px;
  /*px-3py-3(assuming1unit=4px)*/
  transition: all 0.3s;
  font-size: 12px;
  &:not(:last-child) {
    border-bottom: 1px solid #efefef;
  }
  &:hover {
    background-color: #f2f2f2;
  }
}
